*{
    margin:0;
    padding:0;
    text-align:center; 
}

h1{
    align-items: center;
    background-color: darkslategray;
    justify-content: center;
    color:azure;
    height:5rem;
    line-height: 5rem;   
}
.choice{
    height:220px;
    width:220px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    
    cursor: pointer;
    background-color:cornflowerblue;
}
img{
    
    height:200px;
    width:200px;
    object-fit:cover;
    border-radius: 50%;
    transform: rotate(270deg);
}
.Choices{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
    margin-top:3rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:3rem;
    gap:5rem;
    font-size:45px;
   
}
#user-score,#comp-score{
    font-size: 5rem;
    /* margin-top: 2rem;
    font-size: 20px;
    background-color: chartreuse; */

}
.msg-container{
    margin-top: 5rem;
}
#msg{
    margin-top: 6rem;
    font-size: 2rem;
    background-color: darkslategray;
    color: white;
    padding: 1rem;
    display:inline;
    border-radius: 1rem;
}